# Dependencies
# ----------------------------------------------------------------
# A pasta node_modules contém todos os pacotes de terceiros.
# Ela é recriada com 'npm install' e nunca deve ser enviada.
/node_modules

# Build Output
# ----------------------------------------------------------------
# A pasta 'dist' contém o código JavaScript compilado que é gerado
# a partir dos seus arquivos TypeScript.
/dist

# Environment Variables
# ----------------------------------------------------------------
# Arquivos .env contêm segredos e configurações específicas do ambiente.
# Apenas o template (.env.example) deve ser enviado.
.env
.env.*
!.env.example

# Logs
# ----------------------------------------------------------------
# Arquivos de log e relatórios de diagnóstico.
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Cache de Ferramentas
# ----------------------------------------------------------------
# Arquivos de cache usados por diversas ferramentas para acelerar processos.
*.tsbuildinfo
.eslintcache
.parcel-cache

# Arquivos de Sistema Operacional
# ----------------------------------------------------------------
.DS_Store
Thumbs.db